.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  
  .amazon-logo {
    width: 100px;
    height: 100px;
    align-self: flex-start;
  }
  
  .items {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    width: 50rem;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
  }
  
  .nav-links li {
    display: inline-flex;
    text-decoration: none;
  }
  
  #search {
    background-color: darkgoldenrod;
    display: inline;
    color: black;
  }
  
  .items a {
    text-decoration: none;
    color: white;
  }
  