.Navbar{
   justify-content: space-between;
   background-color: #131921;
   height: 100px;
   width: auto;
   padding:0;
   margin:0;
   color:white;
}
.amazon-logo{
    width: 100px;
    height: 100px;

}
ul{
    justify-content: space-evenly;
}
.items input{
    width: 50rem;
}
.items{
    margin-left:30px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    display: flex;
    gap:5rem;
}
li{
    display:inline-flex;
    text-decoration: none;
}
#search{
    background-color: darkgoldenrod;
    display: inline;

    color:black;
}
.search-container{
    display: inline-block;
    align-items: center;
    margin-left: 10rem;
    margin-bottom:6rem;
}

.items a {
    text-decoration: none;
    color: white;
}