.image-container {
    position: relative;
  }

  .img {
    height: 15cm;
    width: 100%;
  }
  
  .home-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    text-align: center;
  }
  